{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
   <head>
           {%block title %}
               <title>Nosotros</title>
               <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}"/>
           {% endblock %}
   </head>
   <body>
<body>
   {% block content %}
   <div class="about">
       <h3>¿Quienes somós?</h3>
       <p id="about">Idface es una empresa que se dedica a la creación de sistemas de reconocimiento facial, para todo usuario que desee utilizar reconocimiento facial en su página.</p>
       <p id="about">Esta empresa está dirigida por dos ceos Selena Bravo y Michael Nuñez, que juntos han creado esta empresa.</p>
       <p id="about">Utilizar reconocimiento facial en páginas web nos aporta grandes ventajas como:</p>
       <p id="about">· Mayor seguridad, ya que al utilizar datos biométricos y no contraseñas de caracteres generales es más difícil conseguir acceder suplantando la identidad</p>
       <p id="about">· Mayor rapidez, ya que se tarda segundos en acceder al sitio web a través de reconocimiento facial</p>
       <p id="about">· Su utilización es muy sencilla, ya que es solo poner el rostro y acceder</p>
       <p id="about">· Mayor fiabilidad a la hora de acceder.</p>
   </div>
   {% endblock %}
</body>
